html, body
{ 
  font-family: monospace;
  color:white;
  heigth: 50%
  width:50%
  background-image: url("https://pbs.twimg.com/profile_images/1490480111937736705/mIcO4hcy_400x400.jpg");
  background-position: center;
  background-size: cover;
}
