html, body
{ 
  font-family: monospace;
  height: 100%;
  width: 100%;
  background-image: url(https://dbukjj6eu5tsf.cloudfront.net/athletics.georgefox.edu/images/2022/9/12/GFU_Redlands09032022-134.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
