html, body
{ 
  font-family: monospace;
  background-image: url("https://dbukjj6eu5tsf.cloudfront.net/athletics.georgefox.edu/images/2022/9/12/GFU_Redlands09032022-134.jpg");
  background-position: center;
  background-size: cover;
}
