html, body{
  font-family: monospace;
  background-image: url("https://dbukjj6eu5tsf.cloudfront.net/athletics.georgefox.edu/images/2022/3/31/11132021GFU_Whitworth_181.jpg");
  background-repeat: no-repeat;
}
p{
font-size: 36px;
color: white;
}
a{
  color: white;
}
h1 
{
  font-family: monospace;
  color: gold;
  font-size: 52px;
}
footer
{
   position: fixed;
   background-color: gold;
   color: white;
   bottom: 0;
  text-align: center;
  
}
  
  
