html, body{
  height: 200%;
  width: 200%;
  font-family: Monospace;
  background-image: url("https://dbukjj6eu5tsf.cloudfront.net/athletics.georgefox.edu/images/2022/3/31/11132021GFU_Whitworth_181.jpg");
}
p{
font-size: 36px ;
font color: rgb(255,255,255)
}
