h1
{
    text-align: center;
    font-family: monospace;
    color:navy;
    font-size: 20px;
    font-weight: bolder;
    padding-right: 20%;
}

h2
{
    text-align:left;
    font-family: monospace;
    color:black;
    font-size: 14px;
    font-weight: bold;
}
#Imageid
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(2, 2, 63);
    color: white;
    text-align: center;
}

table
{
    font-family:monospace ;
    text-align: center;
}

#RandomPicture
{

}

#team
{
    padding-top: 50px;
    color:navy;
    padding-right: 500px;
    font-family: monospace;
}

#MVP
{
    font-size: larger;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 25px;
    color:navy;
    font-family: monospace;
}

#sidenav {
    height: 79%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x:visible;
    padding-top: 20px;
  }
  
  #sidenav a 
  {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  #myChart
  {
    
  }
  #buttonMVP
  {
    text-align: right;
  }
  #APIWOW
  {
    font-size: larger;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 25px;
    color:maroon;
    font-family: monospace;
  }
