head
{
    text-align: center;
    font-family: monospace;
    color:white;
    font-size: 25px;
    font-weight: bolder;
}

#Imageid
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(2, 2, 63);
    color: white;
    text-align: center;
}

table
{
    text-align: center;
}

#myChart
{

}

#RandomPicture
{
    
}
