html, header{
  font-size: 30px;
  color: white;
  font-family: monospace;
}
body {
  background-image: linear-gradient(navy, gray, gold);
  font-family: monospace;
  background-repeat: no-repeat;
}

